<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
    
<hibernate-configuration>
    <session-factory>        
        <mapping class="com.fuxittest.model.Document" />
        <mapping class="com.fuxittest.model.Group" />
        <mapping class="com.fuxittest.model.Owner" />
    </session-factory>         
</hibernate-configuration>